<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MaxMessageBinding" maxReceivedMessageSize="30000000" />
        <binding name="LobMaxMessageBinding" maxReceivedMessageSize="536870912" />
        <binding name="MaxMessageSecurityBinding" maxReceivedMessageSize="30000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <basicHttpContextBinding>
        <binding name="MaxContextBinding" maxReceivedMessageSize="30000000" />
      </basicHttpContextBinding>
      <netTcpBinding>
        <binding name="TCPMaxMessageBinding" maxReceivedMessageSize="30000000" />
      </netTcpBinding>
      <netTcpContextBinding>
        <binding name="TCPMaxContextBinding" maxReceivedMessageSize="30000000" />
      </netTcpContextBinding>
      <wsHttpBinding>
        <binding name="WSMaxMessageBinding" maxReceivedMessageSize="30000000" />
      </wsHttpBinding>
      <netNamedPipeBinding>
        <binding name="PipeMessageBinding" maxReceivedMessageSize="30000000" />
        <binding name="RouterMessageBinding" maxReceivedMessageSize="30000000" />
        <binding name="LobRouterMessageBinding" maxReceivedMessageSize="536870912" />
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceThrottling maxConcurrentCalls="10000" maxConcurrentSessions="10000" maxConcurrentInstances="10000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <!-- Remote Endpoints  -->
      <endpoint name="IndexService" address="net.pipe://localhost/smartclient/indexservice" binding="netNamedPipeBinding" bindingConfiguration="RouterMessageBinding" contract="Motorola.PublicSafety.Platform.DHStore.IIndexService" />
      <endpoint name="MetaStore" address="net.pipe://localhost/smartclient/metaservice" binding="netNamedPipeBinding" bindingConfiguration="RouterMessageBinding" contract="Motorola.PublicSafety.Platform.DHStore.IMetastoreService" />
      <endpoint name="LargeObjectStore" address="net.pipe://localhost/smartclient/largeobject" binding="netNamedPipeBinding" bindingConfiguration="LobRouterMessageBinding" contract="Motorola.PublicSafety.Platform.DHStore.ILargeObjectStoreService" />
      <endpoint name="DocumentService" address="net.pipe://localhost/smartclient/documentstore" binding="netNamedPipeBinding" bindingConfiguration="RouterMessageBinding" contract="Motorola.PublicSafety.Platform.DHStore.IDocumentService" />
    </client>
  </system.serviceModel>
</configuration>